header{background-color: black; padding: 30px;

}
li{color: red; display: inline-block; list-style: none; margin-left: 100px; }
a{background-color: brown; border-radius: 5px; text-decoration: none; padding: 2px;

}